{% extends 'master.html' %}

{% block content %}
    <div class="product-grid">
        {% for item in products %}
            <article class="card">
                <a href="{{ url_for('product_detail', id=item.id) }}">
                    <img src="{{ url_for('static', filename='product_upload/' + item.image) }}" alt="{{ item.name }}">
                </a>

                <h4 class="card-title">{{ item.name }}</h4>

                <p class="card-meta">{{ item.category.name }}</p>

                <div class="price-row">
                    <span class="price">${{ item.price|float }}</span>
                </div>

                <button
                        class="btn btn-success add-cart-btn js-add-cart"
                        data-id="{{ item.id }}"
                        data-title="{{ item.name }}"
                        data-img="{{ item.image }}"
                        data-price="{{ item.price|float }}"
                >
                    Add to Cart
                </button>
            </article>
        {% endfor %}
    </div>
{% endblock %}

{% block custom_script %}
    <script>
        let carts = JSON.parse(localStorage.getItem('carts') ?? '[]');
        document.querySelectorAll('.add-cart-btn').forEach(item => {
            item.addEventListener('click', function () {
                let id = this.getAttribute('data-id');
                let title = this.getAttribute('data-title');
                let img = this.getAttribute('data-img');
                let price = this.getAttribute('data-price');
                let dpl_index = carts.findIndex(cart => cart.id === id);
                if (dpl_index !== -1) {
                    carts[dpl_index].qty += 1;
                } else {
                    carts.push({
                        'id': id,
                        'title': title,
                        'qty': 1,
                        'img': img,
                        'price': price
                    });
                }
                localStorage.setItem('carts', JSON.stringify(carts));
            });
        });
    </script>
{% endblock %}